*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.carousel-item img{
    margin: auto;
    margin-left: 60%;
}